# Python Basics

## Printing

In [1]:
print(5)
print('Hello World')
print(True)

print(type(5))
print(type('Hello World'))
print(type(True))

5
Hello World
True
<class 'int'>
<class 'str'>
<class 'bool'>

## Variables and Some Operations

In [2]:
a = 5
b = 'apples'
c = 9.5

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

5
apples
9.5
<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
d = a + 10
print(d)

15

In [4]:
# print(a + b)
e = str(a)
print(e + b)

5apples

In [5]:
print(a == b)

print(15 > 10)

print(15 < 10)

False
True
False

In [6]:
# Dynamic references, strong types
print('a is {} and c is {}'.format(a, c))

a is 5 and c is 9.5

## Flow Control

### Conditions

In [7]:
# Indentation, not braces
if a == c:
    print('{} and {} are equal'.format(a, c))
elif a>c:
    print('Subtracting {} and {} equals '.format(a, c, c-a))
else:
    print('Adding {} and {} equals {}'.format(a, c, a+c))

Adding 5 and 9.5 equals 14.5

### Loops

#### while loop

In [8]:
while a!=10:
    a+=1
    print(a)


# while True:
#     print('Please type your name.')
#     name = input()
#     if name == 'Ram':
#         break
# print('Thank you!')

6
7
8
9
10

#### for Loops

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [11]:
total = 0
for num in range(101):
    total = total + num
total

5050

## Functions

In [12]:
def add_numbers(a, b):
    return a + b
sum = add_numbers(1,2)
print(sum)

3

## Lists ( Mutable Data Type)

In [13]:
# Lists can contain multiple values, which makes it easier to write programs that handle large amounts of data.
['hello', 3.1415, True, None, 42]
movies = ['Avengers', 'Batman', 'Superman', 'Harry Potter', 'Wonder Woman']
print(movies)
print(type(movies))

['Avengers', 'Batman', 'Superman', 'Harry Potter', 'Wonder Woman']
<class 'list'>

In [14]:
movies[0]

'Avengers'

In [15]:
movies[-1]

'Wonder Woman'

#### Slicing

In [16]:
movies[0:5:2]

['Avengers', 'Superman', 'Wonder Woman']

In [17]:
movies[::]

['Avengers', 'Batman', 'Superman', 'Harry Potter', 'Wonder Woman']

In [18]:
movies[1] = movies[2]
movies

['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Wonder Woman']

#### Concatenation and Replication

In [19]:
movies2 = ['Captain America', 'Iron Man', 'Hulk']
print(movies + movies2)
print(movies * 3)

['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Wonder Woman', 'Captain America', 'Iron Man', 'Hulk']
['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Wonder Woman', 'Avengers', 'Superman', 'Superman', 'Harry Potter', 'Wonder Woman', 'Avengers', 'Superman', 'Superman', 'Harry Potter', 'Wonder Woman']

In [20]:
movies.append('Spiderman')
movies

['Avengers',
 'Superman',
 'Superman',
 'Harry Potter',
 'Wonder Woman',
 'Spiderman']

In [21]:
# print(len(movies))
for i in range(len(movies)):
    print(movies[i])

Avengers
Superman
Superman
Harry Potter
Wonder Woman
Spiderman

In [22]:
del movies[4]
movies

['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Spiderman']

## Tuples (Immutable Data Type)

In [23]:
tuple_movies = tuple(movies)
tuple_movies
# tuple_movies.append('abc')
# Since immutable,so sets cannot have their values modified

('Avengers', 'Superman', 'Superman', 'Harry Potter', 'Spiderman')

In [24]:
tuple_movies[1:3:1]

('Superman', 'Superman')

## Mutable vs Immutable Data Types

#### Mutable Data Type

In [42]:
movies3 = movies
movies.append('Black Panther')
print(movies3)
print(movies)

['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Spiderman']
['Avengers', 'Superman', 'Superman', 'Harry Potter', 'Spiderman']

## Sets ( Immutable Data Type)

In [25]:
set_movies = set(movies)
set_movies

# Since immutable,so sets cannot have their values modified
# All operations like union , intersection, etc can be performede

{'Avengers', 'Harry Potter', 'Spiderman', 'Superman'}

## Dictionaries ( Mutable Data Types)

In [26]:
cat = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}
type(cat)

dict

In [27]:
'Cat has ' + cat['color'] + ' fur.'

'Cat has gray fur.'

In [28]:
students = {1: 'Ram', 2: 'Shyam', 3: 'Hari'} 
students

{1: 'Ram', 2: 'Shyam', 3: 'Hari'}

In [29]:
animal1 = ['cats', 'dogs', 'rat']
animal2 = ['dogs', 'rat', 'cats']
animal1 == animal2

False

In [30]:
cat2 = {'color': 'gray', 'disposition': 'loud', 'size': 'fat'}
cat == cat2

True

In [31]:
print(cat.keys())
print(cat.values())
print(cat.items())

dict_keys(['size', 'color', 'disposition'])
dict_values(['fat', 'gray', 'loud'])
dict_items([('size', 'fat'), ('color', 'gray'), ('disposition', 'loud')])

In [32]:
for k, v in cat.items():
    print('Key: ' + k  + ' and ' + ' Value: ' + str(v))

Key: size and  Value: fat
Key: color and  Value: gray
Key: disposition and  Value: loud

In [34]:
cat.update({'size':'thin'})
cat

{'color': 'gray', 'disposition': 'loud', 'size': 'thin'}

#### List, Set, and Dict Comprehensions

In [35]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']